@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link text-light" href="~/r/" title="Your Stories" data-toggle="tooltip" data-placement="bottom">
				<div class="row navbar-leftpad">
					<i class="fas fa-pen-nib padded-icon"></i>
					<p class="d-sm-none">Your Stories</p>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="User Account" data-toggle="tooltip" data-placement="bottom">
				<div class="row navbar-leftpad">
					<i class="fas fa-user padded-icon"></i>
					<div class="d-sm-none">User Account</div>
				</div>
			</a>
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-light" data-toggle="tooltip" data-placement="bottom" title="Logout">
					<div class="row navbar-leftpad">
						<i class="fas fa-sign-out-alt padded-icon"></i>
						<div class="d-sm-none">Logout</div>
					</div>
				</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
