<h2>Rules</h2>
<ol>
	<li>No hate speech</li>
	<li>No explicit or sexual descriptions of violence.</li>
	<li>No contact information about any real individual or group. Write fiction.</li>
	<li>No spam, no links.</li>
	<li>Just be chill, ya know?</li>
</ol>

<h2>FAQ</h2>

<h3>What is Stori?</h3>
<p>Stori is a collaborative storytelling game, where we all collectively construct a choose-your-own-adventure with limitless paths.</p>

<h3>Can anyone contribute?</h3>
<p>Yes! It's as easy as clicking the "Create New Choice" button. You don't even need an account to contribute.</p>

<h3>What does an account get me?</h3>
<ul>
	<li>Receive updates about the project as it evolves</li>
	<li>See how your submissions are performing all in one place</li>
	<li>See the whole story tree, and track how much you've explored</li>
</ul>

<p>Got a question that isn't here? <a href="mailto:@(Stori.StoriApp.ContactEmail)">Email Me</a></p>