@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Stori is a collaborative storytelling game, where we all collectively construct a choose-your-own-adventure with limitless paths.</p>


