@model Stori.Data.StoriNode

@{
	ViewData["Title"] = "Create New Choice";
	var parent = (Stori.Data.StoriNode)ViewData["parent"];
}

<h2>Create New Choice</h2>
<hr />
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<p>@Html.Raw(Stori.Data.StoriNode.MDToHTML(parent.Content))</p>
			</div>
		</div>
		<div class="card-seperator text-center">
			<i class="fas fa-ellipsis-v"></i>
		</div>
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Parent" />
			<div class="form-group">
				<label class="control-label">Choice</label>
				<textarea asp-for="Action" class="form-control"></textarea>
				<span asp-validation-for="Action" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">Consequence</label>
				<textarea asp-for="Content" class="form-control" rows="6"></textarea>
				<span asp-validation-for="Content" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary btn-block" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
