/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

a {
	color: #F2EBBF;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.badge-pill {
	background-color: white;
	color: black;
	margin-right: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #251e20;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}

.dark-skin {
	background-color: #251e20;
	color: white;
}

.choice-votes {
	margin-bottom: 10px;
}

.padded-icon {
	padding-right: 10px;
	margin-bottom: auto;
	min-width: 24px;
}

.card {
	background-color: #5C4B51;
	color: white;
}

.card-action {
	min-height: 64px;
	background-color: #f8d3a1;
	color: black;
}

.navbar-leftpad {
	padding-left: 20px;
}

.card-prompt {
	background-color: #4d3f44;
	color: white;
}

.navbar-dark {
	background-color: #5C4B51 !important;
}

.btn-choice {
	background-color: #F3B562;
}

.dark-text {
	color: black;
}

.nav-link {
	max-height: 35px;
}

.navbar-padding {
	height: 80px;
}

.modal-content {
	background-color: #4d3f44;
}

.close {
	color: white;
}

.list-header {
	margin: 10px;
}

.list-header-text {
	margin: auto;
	margin-right: 10px;
}

.choice-action-text {
	margin-top:auto;
	margin-bottom:auto;
}
